body {
margin: 0;

background-image: url(images/vecteezy_game-background-with-gamepad-joystick-geometric-pattern-and_47892312.jpg);
}


header{color: black;
    background-color: skyblue;
    position: sticky;
    top: 0;
    z-index: 2;
    border: 0.2em solid black;
    word-spacing: 2em;
    
    
}
nav{
text-align: center;
}

strong{
    color: orange;
    font-weight: bolder;
    font-size: larger;

}


nav a{
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    font-family: monospace;
    border: 0.1em solid skyblue;
    
    
}

nav a:focus{
    color: blueviolet;
}

nav a:hover{color: rgb(255, 255, 255);
border-color: black;
}

button{
color: gold;
background-color: black;
margin-left: 5em;
}

button:hover{
    scale: 200%;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;   
    gap: 1em;
    
   
}

nav ul li:first-of-type{
    margin-right: auto;   
}
nav ul li:nth-last-of-type(3){
    margin-left: auto;
}


p {color: rgb(0, 0, 0);}



main p a{
    color:black;
    background-color: white;
    text-decoration: solid;
    transition: background 2000ms ease
}

main p a:hover{
    
    color: black;
    text-decoration: none;
    border-style: solid;
    border-radius: 0.2em;
    border-color: black;
    background-color: yellow;
}
main p a:focus{
    color: blueviolet;
}

main ul{
padding: 2em
}

main{
    color: white;
}
p{
    color: white;
}
li.aflevering1{
    background-color: rgb(0, 0, 0);
    border-style: solid;
    color: white;
    padding: 0.2em 0.4em;
    margin-bottom: 10em;
    display: flex; 
    gap: 6em;
    
    
}

li.aflevering2{
    background-color: rgb(0, 0, 0);
    border-style: solid;
    color: white;
    padding: 0.2em 0.4em;
    margin-bottom: 10em;
    display: flex; 
    gap: 6em;
}

li.aflevering3{
    background-color: rgb(0, 0, 0);
    border-style: solid;
    color: white;
    padding: 0.2em 0.4em;
    margin-bottom: 10em;
    display: flex; 
    gap: 6em;
}
li.aflevering4{
    background-color: rgb(0, 0, 0);
    border-style: solid;
    color: white;
    padding: 0.2em 0.4em;
    margin-bottom: 10em;
    display: flex; 
    gap: 6em;
}
li.aflevering5{
    background-color: rgb(0, 0, 0);
    border-style: solid;
    color: white;
    padding: 0.2em 0.4em;
    margin-bottom: 10em;
    display: flex; 
    gap: 6em;
}
li.aflevering6{
    background-color: rgb(0, 0, 0);
    border-style: solid;
    color: white;
    padding: 0.2em 0.4em;
    margin-bottom: 10em;
    display: flex; 
    gap: 6em;
}

img.rond{
    transition-duration: 3s;
}
img.rond:hover{
    transform: rotate(360deg);
}

p.over_ons{
    background-color: black;    
}

p.Kaj{
    background-color: black;
    display: flex;
}
p.Jake{
    background-color: black;
    display: flex;
}


footer ul{
    color: black;
    background-color: skyblue;
    border: 0.5em solid black;
    bottom: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    position: sticky;
    width: 100%;
}

